html {
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient(61deg, #cdbfff 56%, #cdbfff 50%);
  min-height: 1000px;
  font-family: "helvetica neue";
}
body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 95vh;
}
main {
  text-align: center;
  flex: 1 0 auto;
}


.firstRow {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center; /* This aligns the items to the start of the cross axis, which is the top when in a row */
  margin-top: 4%;
  color: rgba(126, 126, 126, 0.81);
}
.userInput{
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center; /* This aligns the items to the start of the cross axis, which is the top when in a row */
  margin-top: 4%;
  padding: 30px;
}
.button{
    grid-column: 1 / -1; /* 从第一列开始，延伸到最后一列 */
}

h2 {
  background: #d1d4ff;
  border-radius: 20px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  padding: 30px
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  justify-items: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  max-width: 1350px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15%;
  padding-right: 15%;
  background: white;
  border-radius: 20px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.content{
  margin-left: 50px;
}

#heading {
  color: rgba(126, 126, 126, 0.81);
  padding: 10px;
  background: #d1d4ff;
  text-align: center;
  border-radius: 20px;
  min-width: 10%;
  margin-left: 8%;
  margin-right: 8%;
}
form.edit {
  display: flex;
}

.book {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 5px solid #f1f1f1;
}

.book:last-child {
  border-bottom: 0;
}

input[type="checkbox"] {
  margin: 20px;
  margin-left: 0;
}

p {
  margin: 0;
  padding: 20px 0;
  font-size: 20px;
  color: #000000;
}

form {
  text-align: center;
}

button.add {
  margin-top: 20px;
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #6c6979;
  color: #fff;
  font-size: 30px;
}

button.edit {
  border: none;
  background: none;
}

.icon {
  height: 20px;
}

input[type="text"] {
  text-align: left;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 80%;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 rgb(44, 44, 44);
}

::placeholder {
  color: #6c6979;
  opacity: 1;
  text-align: center;
}

footer {
  flex: 0 0 auto;
  color: white;
  text-align: center;
}
